<Settings>
<!--
<Key name="ExcludeFolder">,software,Recycle bin</Key>
<Key name="Drives">D:\,E:\,Exit</Key>
-->
<ExcludeFolders>
		<name>$RECYCLE.BIN</name>
		<name>System Volume Information</name>
		<name>Software</name>
		<name>at</name>
		<name>German</name>
		<name>PhoneBackup</name>
		<name>Apartment</name>
		<name>Shital</name>
		<name>software</name>
		<name>Nilesh</name>
		
		
</ExcludeFolders>
<DisplayDrives>
	<drive>D:\</drive>
	<drive>E:\</drive>
</DisplayDrives>

</Settings>
